.container {  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 0.9fr 1fr 1fr;
  grid-template-rows: 0.6fr 2.5fr 0.4fr 0.2fr 0.2fr 1.2fr 1.2fr 1.2fr 1.4fr 0.3fr 0.9fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
    "featured-shows featured-shows featured-shows featured-shows featured-shows featured-shows"
    ". . . . . ."
    ". april-2020 april-2020 april-2020 april-2020 ."
    ". . . . . ."
    ". pic-1 article-1 article-1 button-1 ."
    ". pic-2 article-2 article-2 button-2 ."
    ". pic-3 article-3 article-3 button-3 ."
    ". pic-4 aritcle-4 aritcle-4 button-4 ."
    ". . . . . ."
    ". map info shows social ."
    ". map info shows social .";
}


.april-2020 { 
  grid-area: april-2020; 
  border: 1px solid black;
  background-color: lightgrey;
  padding-left: 30px;
}



.featured-shows { 
  grid-area: featured-shows;
  background-image: url(/images/theatre.jpg);
  background-position: auto;
  background-size: contain;
  background-repeat: none; 
}
.featured-shows h1{
  color: white;
  margin-block: 90px;
  text-align: center;
  font-size: 50px;
}



.nav-bar {
  grid-area: nav-bar;
  background-color: black;
} 
.nav-bar h1{
  color: white;
}
.nav-bar a{
  color:white;
  text-decoration: none;
}




.info {
  grid-area: info;
  color: white;
  background-color: black;
  text-decoration: none;
}
.info a{
  text-decoration: none;
  color: white;
} 



.shows {
  grid-area: shows; 
  color: white;
  background-color: black;
}

.social {
  grid-area: social;
  color: white;
  background-color: black;
} 



.map {
  grid-area: map; 
  background-color: black;
}



.pic-1 { grid-area: pic-1; }
.article-1 {
  grid-area: article-1; 
  margin-left: 40px;
}
.button-1 {
  grid-area: button-1; 
}


.pic-2 { grid-area: pic-2; }
.article-2 {
  grid-area: article-2;
  margin-left: 40px;
}
.button-2 { grid-area: button-2; }


.pic-3 { grid-area: pic-3; }
.article-3 {
  grid-area: article-3;
  margin-left: 40px;
}
.button-3 { grid-area: button-3; }

.pic-4 { grid-area: pic-4; }
.aritcle-4 {
  grid-area: aritcle-4;
  margin-left: 40px;
}
.button-4 { grid-area: button-4; }

button{
  background-color: orange;
  color:white;
  margin: 1px solid black;
}